  <div class="game-game">
    <table class="game-wrapper">
      <tbody class="game-board">
        {{#each rows as |row|}}
          {{> game-row number=row.row_index}}
        {{/each}}
      </tbody>
    </table>
  </div>
