  <div class="game">
    <h1>game-board handlebars</h1>
    <table class="game-grid">
      <tbody class="game-body">
        {{#each rows as |row|}}
          {{> game-row number=row.row_index}}
        {{/each}}
      </tbody>
    </table>
  </div>
